.series0.chart-bar {
    -fx-background-color: rgba(0,255,0,0.25);
}
.series1.chart-bar {
    -fx-background-color: rgba(255,0,0,0.25);
}
.series2.chart-bar {
    -fx-background-color: rgba(0,0,255,1.0);
}
